<main class="container d-flex align-items-center .alto-100">

    <div class="row">

        <div class="col-12 col-sm-4  mt-2 mb-2">
            <div class="card" style="width: 18rem;">
                <img src="images/redEdificios.png" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">
                        CÓMO EL GOBIERNO CHINO, DESTRUYÓ EL MERCADO INMOBILIARIO
                        DE SU PROPIO PUEBLO
                    </h5>
                    <p class="card-text">
                        Es por todos conocido, que el
                        mercado inmobiliario de un país</p>
                    <a href="inmobiliario-component" class="btn btn-primary">Ir al articulo</a>
                </div>
            </div>
        </div>

        <div class="col-12 col-sm-4  mt-2 mb-2 ">
            <div class="card" style="width: 18rem;">
                <img src="images/Emprendedores-contra-la-iniciativa.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">
                        Se acabó la informalidad: Instagram y Facebook
                        pagarán impuestos
                    </h5>
                    <p class="card-text">
                        Dado que un nuevo pacto fiscal aprobado por el
                        Congreso busca regular a quienes...</p>
                    <a href="articulo1-component" class="btn btn-primary">Ir al articulo</a>
                </div>
            </div>
        </div>

        <div class="col-12 col-sm-4  mt-2 mb-2">
            <div class="card" style="width: 18rem;">
                <img src="images/tributario1.jpeg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Comunicado oficial del
                        club de empresarios libertarios</h5>
                    <p class="card-text">
                        Frente al reciente avance del proyecto
                        de cumplimiento de obligaciones tributarias que...</p>
                    <a href="home-component" class="btn btn-primary">Ir al articulo</a>
                </div>
            </div>
        </div>



        <div class="col-12 col-sm-4  mt-2 mb-2">
            <div class="card" style="width: 18rem;">
                <img src="images/anarcho-capitalism.png" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Acerca de Nosotros</h5>
                    <p class="card-text">
                        Somos libertarios y queremos enzeñar
                        sobre economía Austriaca
                        a las personas...</p>
                    <a href="quiensomos-component" class="btn btn-primary">Ir al articulo</a>
                </div>
            </div>
        </div>

        <div class="col-12 col-sm-4  mt-2 mb-2">
            <div class="card" style="width: 18rem;">
                <img src="images/grupal1.jpeg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Actividad navideña en campamento dignidad</h5>
                    <p class="card-text">
                        La verdadera solidaridad no se ejerce con el dinero
                        de los demás, sino con el propio.</p>
                    <a href="articulo2-component" class="btn btn-primary">Ir al articulo</a>
                </div>
            </div>
        </div>


    </div>






</main>