<header class="bg-dark text-white p-3">
  <div class="container">
    <div class="d-flex justify-content-center align-items-center">
      <div class="titulo text-center me-3"> <!-- Agrega text-center para centrar el texto -->
        <h1 class="mb-0">Club de Empresarios libertarios</h1> <!-- mb-0 elimina el margen inferior -->
      </div>
      <div class="logoHeader">
        <img src="images/logov4.jpeg" alt="" class="img-fluid" style="max-width: 150px;"> <!-- Ajusta el tamaño según sea necesario -->
      </div>
    </div>
  </div>
</header>
