
    <header class="bg-dark text-white ">
      <div class="container">

        <div class="row">
          <!--h1-->
          <div class="col-6 text-center mt-3"> <!-- Agrega text-center para centrar el texto y mt-3 para margen superior -->
            <h1>Club de Empresarios Libertarios</h1> 
          </div>
          

          <!--logo-->
          <div class="col-6">
            <img src="images/logov4.jpeg" alt="" class="" style="max-width: 150px;"> <!-- Ajusta el tamaño según sea necesario -->
          </div>
        </div>
        
      </div>
    </header>
    
    
