<main class="container d-flex align-items-center .alto-100">
    <!--.alto-100 hace que si se achica no se corte en vertical-->
    <!--container fluid ocupa el 100% del ancho disponible, container solo ocupa menos ancho-->

    <div class="row">

        <div class="col-12 mt-2">
            <h2>Siguenos en Instagram y conoce el verdadero capitalismo!!</h2>
            <div class="col-12">
                <img id="small-img" src="images/icons8-instagram-144.png" alt="EVS"
                    class="img-fluid"><!--ajusta la imagen al contenedor:class="img-fluid"-->
                
            </div>
            <a class="btn btn-primary mb-2" 
            href="https://www.instagram.com/clubempresariosplib/" 
            role="button">Ir a Instagram</a>

        </div>
    </div>

</main>

