<!--contenido principal-->
<main class="container d-flex align-items-center .alto-100">
    <!--.alto-100 hace que si se achica no se corte en vertical-->
    <!--container fluid ocupa el 100% del ancho disponible, container solo ocupa menos ancho-->

    <div class="row">

        <div class="col-12 mt-2">
            <h2>Actividad navideña en campamento dignidad</h2>
            <p id="justificar-texto">
                La verdadera solidaridad no se ejerce con el dinero de los demás, sino con el propio.
            </p>
            <p id="justificar-texto">
                El pasado sábado 21 de diciembre de 2024, tuvimos el privilegio de participar en una actividad dedicada a los niños del
                Campamento Dignidad. Como Club de Empresarios Libertarios y miembros del Partido Libertario, organizamos un día lleno de
                alegría y esperanza, con shows, concursos, convivencia y la entrega de regalos. Fue un recordatorio del poder de la
                solidaridad voluntaria y la acción individual frente a las adversidades que muchos enfrentan, especialmente los más
                pequeños.
                
                Creemos firmemente que el cambio no viene de la burocracia estatal, sino de la colaboración libre entre personas
                dispuestas a marcar la diferencia. Cada sonrisa que vimos es una prueba de que la iniciativa privada y la compasión
                auténtica logran lo que los sistemas impuestos nunca podrán: dignidad, libertad y oportunidades reales.
                
                Sigamos demostrando que la verdadera justicia social surge de las manos de individuos libres, no de la coerción estatal.
                ¡Gracias a todos los que hicieron este evento posible!
                #Libertarios #NoMePisotees #VoluntadSobreImposición.
            </p>
        </div>
    </div>

</main>


<!--imagen-->
<div class="container d-flex align-items-center">
    <div class="row  ">
        <div class="col-12">
            <img id="small-img" src="images/grupal1.jpeg" alt="EVS"
                class="img-fluid"><!--ajusta la imagen al contenedor:class="img-fluid"-->
            <h5>imagen referencial</h5>
        </div>
    </div>
</div>
