<!--contenido principal-->
<main class="container d-flex align-items-center .alto-100">
    <!--.alto-100 hace que si se achica no se corte en vertical-->
    <!--container fluid ocupa el 100% del ancho disponible, container solo ocupa menos ancho-->

    <div class="row">

        <div class="col-12 mt-2">
            <h2>Acerca de Nosotros</h2>
            <p id="justificar-texto">
                Somos libertarios y queremos enzeñar sobre economía Austriaca
                a las personas otorgandoles otro punto de vista, alejado de lo común que 
                se puede ver en los medios tradicionales porque para nosotros el libertarismo
                es una filosofía de vida y no algo que esta de moda  y que muchos políticos usan
                para lograr sus propios fines.
            </p>
            <p id="justificar-texto">
                Además también queremos difundir las ideas libertarias en los empresarios nacionales, darles apoyo desde un
                punto de vista libertario, y generar una comunidad donde puedan asociarse o ayudarse fomentando las
                redes de contacto.
            </p>
        </div>
    </div>

</main>

<!--imagen-->
<div class="container d-flex align-items-center">
    <div class="row  ">
        <div class="col-12">
            <img id="small-img" src="images/anarcho-capitalism.png" alt="EVS"
                class="img-fluid"><!--ajusta la imagen al contenedor:class="img-fluid"-->
            <h5>Bandera</h5>
        </div>
    </div>
</div>