<!--contenido principal-->
<main class="container d-flex align-items-center .alto-100">
    <!--.alto-100 hace que si se achica no se corte en vertical-->
    <!--container fluid ocupa el 100% del ancho disponible, container solo ocupa menos ancho-->

    <div class="row">

        <div class="col-12 mt-2">
            <h2>CÓMO EL GOBIERNO CHINO, DESTRUYÓ EL MERCADO INMOBILIARIO
                DE SU PROPIO PUEBLO</h2>
            <h5>Columna de opinión por: Barbatos Libertario</h5>    
            <p id="justificar-texto">
                Es por todos conocido, que el mercado inmobiliario de un país, es sumamente relevante, razón por la
                cual, todo lo que en él suceda, puede producir inestabilidad económica y social grave. Es por esta
                razón, que no puede quedar en manos del Estado su regulación como le ocurrió a China. A finales de 1970,
                este país experimentó un crecimiento económico sin precedentes, bajo las reformas de Deng Xiaoping (no
                importa el color del gato, sino, que cace ratones), con la industrialización de China, millones de
                personas emigraron desde los campos a las ciudades. En 1978, sólo el 18% de la población vivía en
                ciudades, para el 2010, se había superado el 50%. Imagínese lo que eso significó en la población China,
                muchas personas por primera vez podían empezar a invertir en bienes raíces, y fue ahí cuando nuestro
                amigo el político dejó la escoba, como siempre, todo por un bien mayor (supuestamente), el gobierno
                intervino la banca para bajar las tasas de interés, lo que provocó que millones de personas se lanzaran
                a invertir en bienes raíces. China, hoy paga las penas de un irresponsable mercado inmobiliario,
                culpable de crear "ciudades fantasmas": millones de viviendas, centros comerciales y megaproyectos
                vacíos. Tal fue el caso de la ciudad de Kangbashi en Mongolia Interior, que nunca alcanzó la población
                esperada. Se estima que en China hay entre 50 y 65 millones de apartamentos vacíos, suficientes para
                albergar a toda la población de Uruguay, Chile y México juntos. La deuda del sector inmobiliario en
                China, se estima en 8.9 millones de millones de dólares, cerca del 50% del PIB del país.
            </p>
            <p id="justificar-texto">
                La próxima vez que alguien le hable de los beneficios de la intervención estatal, recuerda a los chinos.
            </p>
        </div>
    </div>

</main>

<!--imagen-->
<div class="container d-flex align-items-center">
    <div class="row  ">
        <div class="col-12">
            <img id="small-img" src="images/redEdificios.png" alt="EVS"
                class="img-fluid"><!--ajusta la imagen al contenedor:class="img-fluid"-->
            <h5>Imagen generada por IA</h5>
        </div>
    </div>
</div>