
<div class=" container col-1">
    <div class="home-content d-flex justify-content-center align-items-center flex-column text-center">
      <article class="about">
        <h2>Comunicado oficial del club de empresarios libertarios</h2>
        <div class="parrafo mb-4"> <!-- Agregado clase mb-4 para margen inferior -->
          <p class="m-3"> <!-- Agregado clase m-3 para margen en todos los lados -->
            Frente al reciente avance del proyecto de cumplimiento de obligaciones tributarias que es parte del
            denominado Pacto Fiscal que propone el gobierno, manifestamos especial preocupación puesto que en un país
            que no crece económicamente desde varios años, el alza del desempleo y del empleo informal además de la
            incompetencia económica del gobierno, crear normas para evitar cualquier tipo de elusión es un golpe al
            trabajador y empresario puesto que los tributos solo asfixian al chileno impidiéndole generar riqueza y
            hacer más difícil crear empresas que son las que dan trabajo, donde realmente se genera riqueza.
            De esta iniciativa, que será Ley, el Ejecutivo proyecta recaudar de 1,5% del PIB, es decir, US$4.500
            millones, de los que destinará aproximadamente US$1.200 millones al Presupuesto 2025 para financiar diversos
            planes, entre ellos, los que tengan relación con seguridad.
            El estado no solo es incapaz de brindar seguridad, aún tenemos en investigación el caso fundaciones en donde
            el gobierno tiene directa relación, también en 2016 luego de la reforma tributaria de Bachelet los ingresos
            tributarios de las empresas cayeron en -0.8% pese al aumento de los impuestos de un 22,5% a 24% en dicho
            período.
          </p>
        </div>
        <div class="ImagenTrib">
            <img src="images/tributario1.jpeg" alt="congreso" class="img-fluid custom-img">

          <h5>imagen referencial</h5>
        </div>
      </article>
    </div>
  </div>

 
  