#small-img {
  max-width: 70%; /* La imagen ocupará solo el 65% del ancho del contenedor */
  height: auto;   /* Mantendrá la proporción de la imagen */
}
 

@media (min-width: 992px)  {
  .alto-100 {
    height: 100vh;  /*para que no se corte vert al achicar pantralla*/
  }
}