<!--contenido principal-->
<main class="container d-flex align-items-center .alto-100">
    <!--.alto-100 hace que si se achica no se corte en vertical-->
    <!--container fluid ocupa el 100% del ancho disponible, container solo ocupa menos ancho-->

    <div class="row">

        <div class="col-12 mt-2">
            <h2>Comunicado del Club de Empresarios en respuesta a “Se acabó la informalidad: Instagram y Facebook
                pagarán impuestos”</h2>
            <p id="justificar-texto">
                Dado que un nuevo pacto fiscal aprobado por el Congreso busca regular a quienes comercializan productos
                y no pagan impuestos, se pretende fiscalizar si una persona recibe más de 50 depósitos bancarios en un
                mes o 100 en seis meses. En ese caso, el banco avisará al SII, ya que las compras por Instagram o
                Facebook no están fiscalizadas.
            </p>
            <p id="justificar-texto">
                Creemos que, en vez de perseguir a personas que deciden ser independientes y ganarse el sustento a
                través del comercio, se deberían proponer sistemas de suscripción para diversos servicios como la salud,
                la educación y la seguridad. De esta forma, sería óptimo el uso de los recursos, ya que sería un privado
                quien entregaría el servicio y no políticos inmersos en casos de corrupción. Así, si el servicio no es
                bueno, el cliente podría cambiar de suscripción y solo quedarían empresas que ofrezcan un buen servicio,
                ya que las demás quebrarían. Porque el Estado, haga lo que haga, no quiebra y solo busca cada vez más
                aumentar los impuestos.
            </p>
        </div>
    </div>

</main>


<!--imagen-->
<div class="container d-flex align-items-center">
    <div class="row  ">
        <div class="col-12">
            <img id="small-img" src="images/Emprendedores-contra-la-iniciativa.jpg" alt="EVS"
                class="img-fluid"><!--ajusta la imagen al contenedor:class="img-fluid"-->
            <h5>imagen referencial</h5>
        </div>
    </div>
</div>