/* You can add global styles to this file, and also import other style files */
#small-img {
    max-width: 65%; /* La imagen ocupará solo el 70% del ancho del contenedor */
    height: auto;   /* Mantendrá la proporción de la imagen */
  }


  /*para justificar texto*/
  #justificar-texto {
    text-align: justify;
  }
  